.order-UI-container {
  background-color: white;
  width: 38rem;
  max-height: 70rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  overflow: hidden;
}

.close-btn {
  font-size: 3.8rem;
  width: 3.8rem;
  height: 3.8rem;

  color: #555;
  background-color: #ccc;
  opacity: 0.6;

  position: absolute;
  right: 0;
  top: 0;

  cursor: pointer;

  transition: color 0.3s;
}

.close-btn:hover {
  color: black;
}

/* Image */
.food-img {
  width: 100%;
  max-height: 28rem;
  overflow: hidden;
}

.food-img img {
  width: 100%;
}

/* Name and Description */
.name-and-description {
  padding: 3rem;
  border-bottom: 0.2rem solid #ccc;
}

.name {
  font-style: italic;
  margin-bottom: 1rem;
}

/* Order control */
.order-control {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Quantity Control and Price */
.qty-control-and-price {
  display: flex;
  justify-content: space-between;
}

.qty-control {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.qty-btns {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.qty-number {
  width: 3rem;
  text-align: center;
}

/* Add Button */
.add-btn {
  align-self: center;
  width: 18rem;
  height: 3.6rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  background-color: #8b4513;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-btn--inactive {
  background-color: #b98f71;
  cursor: auto;
}
