.menu-item--with-add-ons {
  grid-template-rows: repeat(3, auto);
}

.item-add-ons {
  text-align: left;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  grid-column: 1/2;
}

.item-add-on {
  display: flex;
  justify-content: space-between;
}
