.menu-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 2rem;
}

.item-name {
  text-align: left;
}

.item-price {
  text-align: right;
  width: 10rem;
  font-size: 1.5rem;
}

.item-description {
  font-size: 1.6rem;
  text-align: left;
  width: 28rem;
}

/* Order button */
.order-btn {
  cursor: pointer;
  border: none;
  border-radius: 1.6rem;
  background-color: #8b4513;
  color: white;

  padding: 1rem;

  width: 6rem;
  height: 3rem;

  align-self: end;
  justify-self: end;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 5px rgba(78, 78, 78, 0.6);
  transition: all 0.3s;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  /* transition: background-color 0.6s; */
}

.order-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(78, 78, 78, 0.6);
}

.order-btn:active {
  background-color: #61300d;
}
