.menu-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 2rem;
}

.item-name {
  text-align: left;
}

.item-price {
  text-align: right;
  width: 10rem;
  font-size: 1.5rem;
}

.item-description {
  font-size: 1.6rem;
  text-align: left;
  width: 28rem;
}

.add-btn {
  padding: 1rem;
  width: 6rem;
  height: 3rem;
  align-self: end;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b4513;
}

.add-btn:active {
  background-color: #61300d;
}
