.button {
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
  color: white;
  box-shadow: 0 5px 5px rgba(78, 78, 78, 0.6);
  transition-property: transform, color, box-shadow;
  transition-duration: 0.3s;
}

.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(78, 78, 78, 0.6);
}
