.menu {
  padding-top: 10rem;
}

.menu-navbar {
  height: 4rem;
  background-color: #b98f71;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-navbar__link {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-navbar__link:hover {
  color: #555;
}

.menu-area {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  padding: 10rem 0;
}
