.order-UI-container {
  background-color: white;
  width: 40rem;
  max-height: 65rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  overflow-y: scroll;
}
