.addOns {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.addOn-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.addOn-checkbox {
  margin-left: 2rem;
  margin-right: 1.5rem;
}
